<div ng-controller="emulationController" layout="row" layout-xs="column">

  <div id="se-box" class="md-whiteframe-5dp" layout="column" flex-gt-xs>
    <md-toolbar layout-padding>
      <h2>Supply Equipment</h2>
    </md-toolbar>
    <md-content layout="column" layout-padding>
      <div class="charging-param">
        <h3>Charging Parameters</h3>
        <md-tabs md-dynamic-height md-border-bottom>
          <md-tab label="present">
            <md-content class="md-padding">
              <p>Voltage: {{charger.status.se.presentVoltage || 'N/A'}}</p>
              <p>Current: {{charger.status.se.presentCurrent || 'N/A'}}</p>
            </md-content>
          </md-tab>
          <md-tab label="maximum">
            <md-content class="md-padding">
              <p>TODO</p>
            </md-content>
          </md-tab>
        </md-tabs>
      </div>
      <div class="cablecheck">
        <h3>Cable check</h3>
        <p>Status: {{charger.status.cableCheck || 'N/A'}}</p>
      </div>
      <div class="voltageAdaption">
        <h3>Voltage adaption</h3>
        <p>Status: {{charger.status.voltageAdaption || 'N/A'}}</p>
      </div>
      <!--
      <div class="state">
        <h3>State Machine</h3>
        <p>{{charger.status.se.currentState}}</p>
      </div>
      -->
    </md-content>
  </div>

  <div id="ev-box" class="md-whiteframe-5dp" layout="column" flex-gt-xs>
    <md-toolbar layout-padding>
      <h2>Electric Vehicle</h2>
    </md-toolbar>
    <md-content layout="column" layout-padding>
      <div class="charging-param">
        <p>UUID: {{charger.status.ev.uuid || 'N/A'}}</p>
        <h3>Charging Parameters</h3>
        <md-tabs md-dynamic-height md-border-bottom>
          <md-tab label="target">
            <md-content class="md-padding">
              <p>Voltage: {{charger.status.ev.targetVoltage || 'N/A'}}</p>
              <p>Current: {{charger.status.ev.targetCurrent || 'N/A'}}</p>
            </md-content>
          </md-tab>
          <md-tab label="maximum">
            <md-content class="md-padding">
              <p>Voltage: {{charger.status.ev.maximumVoltage || 'N/A'}}</p>
              <p>Current: {{charger.status.ev.maximumCurrent || 'N/A'}}</p>
            </md-content>
          </md-tab>
        </md-tabs>
      </div>
      <div class="soc">
        <h3>
          State of Charge ( {{charger.status.ev.stateOfCharge || '-'}} % )
          <img ng-src="assets/img/icons/{{ev.data.chargingComplete && 'ic_check_black_24px.svg' || 'ic_sync_black_24px.svg'}}"/>
        </h3>
        <md-progress-linear md-mode="determinate" value="{{ev.data.stateOfCharge}}"></md-progress-linear>
      </div>
    </md-content>
  </div>

</div>

<div class="md-whiteframe-5dp">
  <md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="debug">
      <md-content class="md-padding">
        <md-virtual-repeat-container id="debug-msg-container">
          <div md-virtual-repeat="message in debugmsgs" class="debug-msg" flex>
            {{ message.time }} - {{ message.message }}
          </div>
        </md-virtual-repeat-container>
      </md-content>
    </md-tab>
  </md-tabs>
</div>
