<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="401px" height="750px" viewBox="0 0 529 989" preserveAspectRatio="xMinYMin meet" version="1.1" ng-controller="stateController">
  <defs>
  <style type="text/css">
      <![CDATA[
        .active {
          fill: #DDDDDD;
        }
      ]]>
    </style>
  </defs>
  <g transform="translate(0.5,0.5)">
    <path d="M 336.29 101 L 336.29 121.14 L 336.29 127.49" fill="none" stroke="#000000" stroke-miterlimit="10" pointer-events="none"/>
    <path d="M 336.29 129.74 L 334.79 126.74 L 336.29 127.49 L 337.79 126.74 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10" pointer-events="none"/>
    <rect x="248" y="71" width="177" height="30" fill="none" stroke="#000000" pointer-events="none" ng-class="{active: isActive('supportedAppProtocol')}"/>
    <g transform="translate(284.5,80.5)">
      <switch>
        <foreignObject style="overflow:visible;" pointer-events="all" width="104" height="10" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
          <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 10px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 105px; white-space: nowrap; word-wrap: normal; text-align: center;">
            <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">
              <font style="font-size: 10px ; line-height: 120%">supportedAppProtocol</font>
            </div>
          </div>
        </foreignObject>
        <text x="52" y="10" fill="#000000" text-anchor="middle" font-size="10px" font-family="Helvetica">[Not supported by viewer]</text>
      </switch>
    </g>
    <path d="M 336.5 32 L 336.29 52 L 336.29 67.49" fill="none" stroke="#000000" stroke-miterlimit="10" pointer-events="none"/>
    <path d="M 336.29 69.74 L 334.79 66.74 L 336.29 67.49 L 337.79 66.74 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10" pointer-events="none"/>
    <ellipse cx="337" cy="17" rx="15.5" ry="15.5" fill="#000000" stroke="#000000" pointer-events="none"/>
    <path d="M 336.29 161 L 336.29 181.14 L 336.29 187.49" fill="none" stroke="#000000" stroke-miterlimit="10" pointer-events="none"/>
    <path d="M 336.29 189.74 L 334.79 186.74 L 336.29 187.49 L 337.79 186.74 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10" pointer-events="none"/>
    <rect x="248" y="131" width="177" height="30" fill="none" stroke="#000000" pointer-events="none" ng-class="{active: isActive('sessionSetup')}"/>
    <g transform="translate(304.5,140.5)">
      <switch>
        <foreignObject style="overflow:visible;" pointer-events="all" width="63" height="10" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
          <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 10px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 64px; white-space: nowrap; word-wrap: normal; text-align: center;">
            <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">
              <font style="font-size: 10px ; line-height: 120%">sessionSetup</font>
            </div>
          </div>
        </foreignObject>
        <text x="32" y="10" fill="#000000" text-anchor="middle" font-size="10px" font-family="Helvetica">[Not supported by viewer]</text>
      </switch>
    </g>
    <path d="M 336.29 221 L 336.29 241.14 L 336.29 257.77" fill="none" stroke="#000000" stroke-miterlimit="10" pointer-events="none"/>
    <path d="M 336.29 260.02 L 334.79 257.02 L 336.29 257.77 L 337.79 257.02 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10" pointer-events="none"/>
    <path d="M 248.29 213.71 L 212.86 213.71 L 212.86 328.57 L 244.92 328.57" fill="none" stroke="#000000" stroke-miterlimit="10" pointer-events="none"/>
    <path d="M 247.17 328.57 L 244.17 330.07 L 244.92 328.57 L 244.17 327.07 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10" pointer-events="none"/>
    <rect x="248" y="191" width="177" height="30" fill="none" stroke="#000000" pointer-events="none" ng-class="{active: isActive('serviceDiscovery')}"/>
    <g transform="translate(298.5,200.5)">
      <switch>
        <foreignObject style="overflow:visible;" pointer-events="all" width="76" height="10" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
          <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 10px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 77px; white-space: nowrap; word-wrap: normal; text-align: center;">
            <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">
              <font style="font-size: 10px ; line-height: 120%">serviceDiscovery</font>
            </div>
          </div>
        </foreignObject>
        <text x="38" y="10" fill="#000000" text-anchor="middle" font-size="10px" font-family="Helvetica">[Not supported by viewer]</text>
      </switch>
    </g>
    <path d="M 336.29 291 L 336.29 310.86 L 336.29 317.77" fill="none" stroke="#000000" stroke-miterlimit="10" pointer-events="none"/>
    <path d="M 336.29 320.02 L 334.79 317.02 L 336.29 317.77 L 337.79 317.02 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10" pointer-events="none"/>
    <rect x="248" y="261" width="177" height="30" fill="none" stroke="#000000" pointer-events="none" ng-class="{active: isActive('serviceDetail')}"/>
    <g transform="translate(307.5,270.5)">
      <switch>
        <foreignObject style="overflow:visible;" pointer-events="all" width="58" height="10" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
          <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 10px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 59px; white-space: nowrap; word-wrap: normal; text-align: center;">
            <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">
              <font style="font-size: 10px ; line-height: 120%">serviceDetail</font>
            </div>
          </div>
        </foreignObject>
        <text x="29" y="10" fill="#000000" text-anchor="middle" font-size="10px" font-family="Helvetica">[Not supported by viewer]</text>
      </switch>
    </g>
    <path d="M 248.29 343.43 L 123.14 343.43 L 123.14 523.43 L 244.92 523.43" fill="none" stroke="#000000" stroke-miterlimit="10" pointer-events="none"/>
    <path d="M 247.17 523.43 L 244.17 524.93 L 244.92 523.43 L 244.17 521.93 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10" pointer-events="none"/>
    <path d="M 292.29 350.86 L 292.29 370.86 L 233.43 370.86 L 233.43 379.13" fill="none" stroke="#000000" stroke-miterlimit="10" pointer-events="none"/>
    <path d="M 233.43 379.88 L 232.93 378.88 L 233.43 379.13 L 233.93 378.88 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10" pointer-events="none"/>
    <path d="M 380.86 350.86 L 380.86 370.86 L 437.43 370.86 L 437.43 379.13" fill="none" stroke="#000000" stroke-miterlimit="10" pointer-events="none"/>
    <path d="M 437.43 379.88 L 436.93 378.88 L 437.43 379.13 L 437.93 378.88 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10" pointer-events="none"/>
    <rect x="248" y="321" width="177" height="30" fill="none" stroke="#000000" pointer-events="none" ng-class="{active: isActive('servicePaymentSelection')}"/>
    <g transform="translate(278.5,330.5)">
      <switch>
        <foreignObject style="overflow:visible;" pointer-events="all" width="116" height="10" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
          <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 10px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 117px; white-space: nowrap; word-wrap: normal; text-align: center;">
            <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">
              <font style="font-size: 10px ; line-height: 120%">servicePaymentSelection</font>
            </div>
          </div>
        </foreignObject>
        <text x="58" y="10" fill="#000000" text-anchor="middle" font-size="10px" font-family="Helvetica">[Not supported by viewer]</text>
      </switch>
    </g>
    <path d="M 233.43 411 L 233.43 421.14 L 292.29 421.14 L 292.29 437.77" fill="none" stroke="#000000" stroke-miterlimit="10" pointer-events="none"/>
    <path d="M 292.29 440.02 L 290.79 437.02 L 292.29 437.77 L 293.79 437.02 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10" pointer-events="none"/>
    <rect x="145" y="381" width="177" height="30" fill="none" stroke="#000000" pointer-events="none" ng-class="{active: isActive('certificateInstallation')}"/>
    <g transform="translate(186.5,390.5)">
      <switch>
        <foreignObject style="overflow:visible;" pointer-events="all" width="94" height="10" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
          <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 10px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 95px; white-space: nowrap; word-wrap: normal; text-align: center;">
            <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">
              <font style="font-size: 10px ; line-height: 120%">certificateInstallation</font>
            </div>
          </div>
        </foreignObject>
        <text x="47" y="10" fill="#000000" text-anchor="middle" font-size="10px" font-family="Helvetica">[Not supported by viewer]</text>
      </switch>
    </g>
    <path d="M 437.43 410.86 L 437.43 430.86 L 380.86 430.86 L 380.86 439.27" fill="none" stroke="#000000" stroke-miterlimit="10" pointer-events="none"/>
    <path d="M 380.86 440.02 L 380.36 439.02 L 380.86 439.27 L 381.36 439.02 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10" pointer-events="none"/>
    <rect x="349" y="381" width="177" height="30" fill="none" stroke="#000000" pointer-events="none" ng-class="{active: isActive('certificateUpdate')}"/>
    <g transform="translate(398.5,390.5)">
      <switch>
        <foreignObject style="overflow:visible;" pointer-events="all" width="78" height="10" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
          <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 10px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 79px; white-space: nowrap; word-wrap: normal; text-align: center;">
            <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">
              <font style="font-size: 10px ; line-height: 120%">certificateUpdate</font>
            </div>
          </div>
        </foreignObject>
        <text x="39" y="10" fill="#000000" text-anchor="middle" font-size="10px" font-family="Helvetica">[Not supported by viewer]</text>
      </switch>
    </g>
    <path d="M 336.29 471 L 336.29 490.86 L 336.29 481.14 L 336.29 497.63" fill="none" stroke="#000000" stroke-miterlimit="10" pointer-events="none"/>
    <path d="M 336.29 499.88 L 334.79 496.88 L 336.29 497.63 L 337.79 496.88 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10" pointer-events="none"/>
    <rect x="248" y="441" width="177" height="30" fill="none" stroke="#000000" pointer-events="none" ng-class="{active: isActive('paymentDetails')}"/>
    <g transform="translate(300.5,450.5)">
      <switch>
        <foreignObject style="overflow:visible;" pointer-events="all" width="71" height="10" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
          <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 10px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 72px; white-space: nowrap; word-wrap: normal; text-align: center;">
            <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">
              <font style="font-size: 10px ; line-height: 120%">paymentDetails</font>
            </div>
          </div>
        </foreignObject>
        <text x="36" y="10" fill="#000000" text-anchor="middle" font-size="10px" font-family="Helvetica">[Not supported by viewer]</text>
      </switch>
    </g>
    <path d="M 336.29 350.86 L 336.29 437.77" fill="none" stroke="#000000" stroke-miterlimit="10" pointer-events="none"/>
    <path d="M 336.29 440.02 L 334.79 437.02 L 336.29 437.77 L 337.79 437.02 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10" pointer-events="none"/>
    <path d="M 336.29 561.14 L 336.29 530.86 L 336.29 561.77" fill="none" stroke="#000000" stroke-miterlimit="10" pointer-events="none"/>
    <path d="M 336.29 564.02 L 334.79 561.02 L 336.29 561.77 L 337.79 561.02 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10" pointer-events="none"/>
    <rect x="248" y="501" width="177" height="30" fill="none" stroke="#000000" pointer-events="none" ng-class="{active: isActive('authorization')}"/>
    <g transform="translate(306.5,510.5)">
      <switch>
        <foreignObject style="overflow:visible;" pointer-events="all" width="60" height="10" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
          <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 10px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 61px; white-space: nowrap; word-wrap: normal; text-align: center;">
            <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">
              <font style="font-size: 10px ; line-height: 120%">authorization</font>
            </div>
          </div>
        </foreignObject>
        <text x="30" y="10" fill="#000000" text-anchor="middle" font-size="10px" font-family="Helvetica">[Not supported by viewer]</text>
      </switch>
    </g>
    <path d="M 336.29 595 L 336.29 614.86 L 336.29 621.77" fill="none" stroke="#000000" stroke-miterlimit="10" pointer-events="none"/>
    <path d="M 336.29 624.02 L 334.79 621.02 L 336.29 621.77 L 337.79 621.02 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10" pointer-events="none"/>
    <rect x="248" y="565" width="177" height="30" fill="none" stroke="#000000" pointer-events="none" ng-class="{active: isActive('chargeParameterDiscovery')}"/>
    <g transform="translate(274.5,574.5)">
      <switch>
        <foreignObject style="overflow:visible;" pointer-events="all" width="124" height="10" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
          <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 10px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 125px; white-space: nowrap; word-wrap: normal; text-align: center;">
            <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">
              <font style="font-size: 10px ; line-height: 120%">chargeParameterDiscovery</font>
            </div>
          </div>
        </foreignObject>
        <text x="62" y="10" fill="#000000" text-anchor="middle" font-size="10px" font-family="Helvetica">[Not supported by viewer]</text>
      </switch>
    </g>
    <path d="M 336.29 655 L 336.29 674.86 L 336.29 681.77" fill="none" stroke="#000000" stroke-miterlimit="10" pointer-events="none"/>
    <path d="M 336.29 684.02 L 334.79 681.02 L 336.29 681.77 L 337.79 681.02 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10" pointer-events="none"/>
    <rect x="248" y="625" width="177" height="30" fill="none" stroke="#000000" pointer-events="none" ng-class="{active: isActive('cableCheck')}"/>
    <g transform="translate(309.5,634.5)">
      <switch>
        <foreignObject style="overflow:visible;" pointer-events="all" width="54" height="10" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
          <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 10px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 55px; white-space: nowrap; word-wrap: normal; text-align: center;">
            <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">
              <font style="font-size: 10px ; line-height: 120%">cableCheck</font>
            </div>
          </div>
        </foreignObject>
        <text x="27" y="10" fill="#000000" text-anchor="middle" font-size="10px" font-family="Helvetica">[Not supported by viewer]</text>
      </switch>
    </g>
    <path d="M 336.29 715 L 336.29 734.86 L 336.29 751.49" fill="none" stroke="#000000" stroke-miterlimit="10" pointer-events="none"/>
    <path d="M 336.29 753.74 L 334.79 750.74 L 336.29 751.49 L 337.79 750.74 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10" pointer-events="none"/>
    <rect x="248" y="685" width="177" height="30" fill="none" stroke="#000000" pointer-events="none" ng-class="{active: isActive('preCharge')}"/>
    <g transform="translate(311.5,694.5)">
      <switch>
        <foreignObject style="overflow:visible;" pointer-events="all" width="49" height="10" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
          <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 10px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 50px; white-space: nowrap; word-wrap: normal; text-align: center;">
            <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">
              <font style="font-size: 10px ; line-height: 120%">preCharge</font>
            </div>
          </div>
        </foreignObject>
        <text x="25" y="10" fill="#000000" text-anchor="middle" font-size="10px" font-family="Helvetica">[Not supported by viewer]</text>
      </switch>
    </g>
    <path d="M 292.29 754.86 L 292.29 734.86 L 203.14 734.86 L 203.14 587.43 L 244.92 587.43" fill="none" stroke="#000000" stroke-miterlimit="10" pointer-events="none"/>
    <path d="M 247.17 587.43 L 244.17 588.93 L 244.92 587.43 L 244.17 585.93 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10" pointer-events="none"/>
    <path d="M 336.29 785.14 L 336.29 811.49" fill="none" stroke="#000000" stroke-miterlimit="10" pointer-events="none"/>
    <path d="M 336.29 813.74 L 334.79 810.74 L 336.29 811.49 L 337.79 810.74 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10" pointer-events="none"/>
    <path d="M 248.29 770.29 L 131.71 770.29 L 131.71 823.13" fill="none" stroke="#000000" stroke-miterlimit="10" pointer-events="none"/>
    <path d="M 131.71 823.88 L 131.21 822.88 L 131.71 823.13 L 132.21 822.88 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10" pointer-events="none"/>
    <rect x="248" y="755" width="177" height="30" fill="none" stroke="#000000" pointer-events="none" ng-class="{active: isActive('powerDelivery')}"/>
    <g transform="translate(304.5,764.5)">
      <switch>
        <foreignObject style="overflow:visible;" pointer-events="all" width="64" height="10" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
          <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 10px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 65px; white-space: nowrap; word-wrap: normal; text-align: center;">
            <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">
              <font style="font-size: 10px ; line-height: 120%">powerDelivery</font>
            </div>
          </div>
        </foreignObject>
        <text x="32" y="10" fill="#000000" text-anchor="middle" font-size="10px" font-family="Helvetica">[Not supported by viewer]</text>
      </switch>
    </g>
    <path d="M 131.71 854.86 L 131.71 896.63" fill="none" stroke="#000000" stroke-miterlimit="10" pointer-events="none"/>
    <path d="M 131.71 898.88 L 130.21 895.88 L 131.71 896.63 L 133.21 895.88 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10" pointer-events="none"/>
    <path d="M 175.71 825.14 L 175.71 777.71 L 246.42 777.71" fill="none" stroke="#000000" stroke-miterlimit="10" pointer-events="none"/>
    <path d="M 247.17 777.71 L 246.17 778.21 L 246.42 777.71 L 246.17 777.21 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10" pointer-events="none"/>
    <rect x="43" y="825" width="177" height="30" fill="none" stroke="#000000" pointer-events="none" ng-class="{active: isActive('currentDemand')}"/>
    <g transform="translate(95.5,834.5)">
      <switch>
        <foreignObject style="overflow:visible;" pointer-events="all" width="71" height="10" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
          <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 10px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 72px; white-space: nowrap; word-wrap: normal; text-align: center;">
            <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">
              <font style="font-size: 10px ; line-height: 120%">currentDemand</font>
            </div>
          </div>
        </foreignObject>
        <text x="36" y="10" fill="#000000" text-anchor="middle" font-size="10px" font-family="Helvetica">[Not supported by viewer]</text>
      </switch>
    </g>
    <path d="M 292.29 625.14 L 292.29 605.14 L 228.29 605.14 L 228.29 632.57 L 244.92 632.57" fill="none" stroke="#000000" stroke-miterlimit="10" pointer-events="none"/>
    <path d="M 247.17 632.57 L 244.17 634.07 L 244.92 632.57 L 244.17 631.07 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10" pointer-events="none"/>
    <path d="M 292.29 685.14 L 292.29 665.14 L 228.29 665.14 L 228.29 692.57 L 244.92 692.57" fill="none" stroke="#000000" stroke-miterlimit="10" pointer-events="none"/>
    <path d="M 247.17 692.57 L 244.17 694.07 L 244.92 692.57 L 244.17 691.07 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10" pointer-events="none"/>
    <path d="M 292.29 565.14 L 292.29 545.14 L 228.29 545.14 L 228.29 572.57 L 244.92 572.57" fill="none" stroke="#000000" stroke-miterlimit="10" pointer-events="none"/>
    <path d="M 247.17 572.57 L 244.17 574.07 L 244.92 572.57 L 244.17 571.07 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10" pointer-events="none"/>
    <path d="M 292.29 501.14 L 292.29 481.14 L 228.29 481.14 L 228.29 508.57 L 244.92 508.57" fill="none" stroke="#000000" stroke-miterlimit="10" pointer-events="none"/>
    <path d="M 247.17 508.57 L 244.17 510.07 L 244.92 508.57 L 244.17 507.07 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10" pointer-events="none"/>
    <path d="M 292.29 261.14 L 292.29 241.14 L 228.29 241.14 L 228.29 268.57 L 244.92 268.57" fill="none" stroke="#000000" stroke-miterlimit="10" pointer-events="none"/>
    <path d="M 247.17 268.57 L 244.17 270.07 L 244.92 268.57 L 244.17 267.07 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10" pointer-events="none"/>
    <path d="M 175.71 900 L 175.71 858.23" fill="none" stroke="#000000" stroke-miterlimit="10" pointer-events="none"/>
    <path d="M 175.71 855.98 L 177.21 858.98 L 175.71 858.23 L 174.21 858.98 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10" pointer-events="none"/>
    <path d="M 43.14 914.86 L 3.14 914.86 L 3.14 762.29 L 244.92 762.29" fill="none" stroke="#000000" stroke-miterlimit="10" pointer-events="none"/>
    <path d="M 247.17 762.29 L 244.17 763.79 L 244.92 762.29 L 244.17 760.79 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10" pointer-events="none"/>
    <rect x="43" y="900" width="177" height="30" fill="none" stroke="#000000" pointer-events="none" ng-class="{active: isActive('meteringReceipt')}"/>
    <g transform="translate(93.5,909.5)">
      <switch>
        <foreignObject style="overflow:visible;" pointer-events="all" width="75" height="10" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
          <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 10px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 76px; white-space: nowrap; word-wrap: normal; text-align: center;">
            <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">meteringReceipt</div>
          </div>
        </foreignObject>
        <text x="38" y="10" fill="#000000" text-anchor="middle" font-size="10px" font-family="Helvetica">meteringReceipt</text>
      </switch>
    </g>
    <path d="M 43.14 847.43 L 23.14 847.43 L 23.14 874.86 L 87.14 874.86 L 87.14 858.23" fill="none" stroke="#000000" stroke-miterlimit="10" pointer-events="none"/>
    <path d="M 87.14 855.98 L 88.64 858.98 L 87.14 858.23 L 85.64 858.98 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10" pointer-events="none"/>
    <path d="M 336.29 845.14 L 336.29 871.49" fill="none" stroke="#000000" stroke-miterlimit="10" pointer-events="none"/>
    <path d="M 336.29 873.74 L 334.79 870.74 L 336.29 871.49 L 337.79 870.74 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10" pointer-events="none"/>
    <rect x="248" y="815" width="177" height="30" fill="none" stroke="#000000" pointer-events="none" ng-class="{active: isActive('weldingDetection')}"/>
    <g transform="translate(296.5,824.5)">
      <switch>
        <foreignObject style="overflow:visible;" pointer-events="all" width="79" height="10" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
          <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 10px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 80px; white-space: nowrap; word-wrap: normal; text-align: center;">
            <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">
              <font style="font-size: 10px ; line-height: 120%">weldingDetection</font>
            </div>
          </div>
        </foreignObject>
        <text x="40" y="10" fill="#000000" text-anchor="middle" font-size="10px" font-family="Helvetica">[Not supported by viewer]</text>
      </switch>
    </g>
    <path d="M 336.29 905.14 L 336.29 954.13" fill="none" stroke="#000000" stroke-miterlimit="10" pointer-events="none"/>
    <path d="M 336.29 954.88 L 335.79 953.88 L 336.29 954.13 L 336.79 953.88 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10" pointer-events="none"/>
    <rect x="248" y="875" width="177" height="30" fill="none" stroke="#000000" pointer-events="none" ng-class="{active: isActive('sessionStop')}"/>
    <g transform="translate(307.5,884.5)">
      <switch>
        <foreignObject style="overflow:visible;" pointer-events="all" width="57" height="10" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
          <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 10px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 58px; white-space: nowrap; word-wrap: normal; text-align: center;">
            <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">
              <font style="font-size: 10px ; line-height: 120%">sessionStop</font>
            </div>
          </div>
        </foreignObject>
        <text x="29" y="10" fill="#000000" text-anchor="middle" font-size="10px" font-family="Helvetica">[Not supported by viewer]</text>
      </switch>
    </g>
    <ellipse cx="337" cy="972" rx="15.5" ry="15.5" fill="none" stroke="#000000" stroke-width="3" pointer-events="none"/>
    <path d="M 329.64 962.82 L 336.5 969.31 L 343.29 962.82 L 345.18 964.65 L 338.64 971.5 L 345.18 978.32 L 343.29 980.18 L 336.5 973.66 L 329.64 980.18 L 327.82 978.32 L 334.3 971.5 L 327.82 964.65 Z" fill="#000000" stroke="none" pointer-events="none"/>
  </g>
</svg>
