<div id="control" layout="column" layout-gt-sm="row">

  <div id="" class="md-whiteframe-5dp" layout-padding flex-gt-sm>
    <h2>Car Model</h2>
    <h3>{{car.name}}</h3>
  </div>

  <div id="" class="md-whiteframe-5dp" layout-padding flex-gt-sm>
    <h2>State of Charge</h2>
    <div>
      {{car.battery.soc * 100 | number : 0}} %
      <md-progress-linear md-mode="determinate" value="{{car.battery.soc * 100 | number : 0}}"></md-progress-linear>
    </div>
  </div>

  <div id="ticker-box" ng-controller="tickerController" class="md-whiteframe-5dp" layout="column" layout-padding flex-gt-sm>
    <md-content layout="column">
      <p>Tick: {{tickCount}}</p>
      <select ng-model="tickingSpeed" ng-options="speed.value as speed.name for speed in tickingSpeeds"></select>
      <div layout="row">
        <md-button class="md-raised" data-ng-click="startTicking()" ng-disabled="isRunning()">Start</md-button>
        <md-button class="md-raised" data-ng-click="tick()" ng-disabled="isRunning()">Tick</md-button>
        <md-button class="md-raised md-warn" data-ng-click="stopTicking()" ng-disabled="!isRunning()">Stop</md-button>
      </div>
    </md-content>
  </div>

</div>
