<div ng-controller="emulationController">

  <md-content id="control" class="md-padding" layout="column" layout-gt-sm="row">

    <div id="" class="md-whiteframe-5dp" layout-padding flex-gt-sm>
      <h2>Car Model</h2>
      <h3>{{car.name}}</h3>
      <p>{{car.uuid}}</p>
    </div>

    <div id="" class="md-whiteframe-5dp" layout-padding flex-gt-sm>
      <h2>State of Charge</h2>
      <div>
        {{car.battery.soc | number : 0}} %
        <md-progress-linear md-mode="determinate" value="{{car.battery.soc | number : 0}}"></md-progress-linear>
      </div>
    </div>

    <div id="ticker-box" class="md-whiteframe-5dp" layout="column" layout-padding flex-gt-sm>
      <h2>Emulation</h2>
      <div layout="column">
        <p>State: {{car.state || '-'}}</p>
        <div layout="row">
          <md-button class="md-raised" ng-click="start()" ng-disabled="emulatorRunning()">Start</md-button>
          <md-button class="md-raised" ng-click="stop()" ng-disabled="">Stop</md-button>
          <md-button class="md-raised" ng-click="reset()" ng-disabled="">Reset</md-button>
        </div>
      </div>
    </div>

  </md-content>

  <md-content id="info" class="md-padding" layout="column" layout-gt-sm="row">

    <div class="md-whiteframe-5dp" layout-padding flex-gt-sm>
      <h2>Car status:</h2>
      <form>
        <md-input-container>
          <label for="soc">State of Charge (%):</label>
          <input type="number" name="soc" min="0" max="100" ng-model="car.battery.soc">
        </md-input-container>
        <md-input-container>
          <label for="tC">Current demand (A):</label>
          <input type="number" name="tC" min="0" ng-model="car.charging.currentDemand"><!-- TODO limit max value -->
        </md-input-container>
      </form>

      <h2>Debugging</h2>
      <p>Location: {{ car.href }}</p>
      <md-button class="md-raised" ng-click="showLastResponse($event)">Last response</md-button>
      <div layout="row">
        <md-input-container flex="75">
          <label>Observe relations</label>
          <md-select ng-model="selectedObserve">
            <md-optgroup label="observe">
              <md-option ng-value="observe" ng-repeat="observe in car.observes">{{observe}}</md-option>
            </md-optgroup>
          </md-select>
        </md-input-container>
        <md-button class="md-warn" ng-click="cancelObserve(selectedObserve)">Cancel</md-button>
      </div>
    </div>

    <div class="md-whiteframe-5dp" layout-padding flex-gt-sm>
      <h2>Actions</h2>
      <md-button class="md-raised md-primary" ng-click="togglePlug()" ng-disabled="car.nowayback && car.href != '/.well-known/core'">{{!car.plugged_in && 'Plug in' || 'Unplug'}}</md-button>

      <h2>Links</h2>
      <ng-repeat ng-repeat="(key, value) in car.links" ng-if="value.href != '/.well-known/core'">
        <md-button class="md-raised md-primary" ng-click="follow(value.href)">
          {{ key }}
          <span ng-if="value.rt">
            (rt="{{ value.rt }}")
          </span>
        </md-button>
      </ng-repeat>

      <h2>Forms</h2>
      <ng-repeat ng-repeat="(key, value) in car.forms">
        <md-button class="md-raised md-primary" ng-click="submitForm(value.href, value.method, value.accepts)">
          {{ key }}
        </md-button>
      </ng-repeat>
    </div>

  </md-content>

</div>
