#se-box {
  margin: 0 15px 15px 0;
}

#ev-box {
  margin: 0 0 15px 0;
}

#debug-msg-container {
  height: 150px;
  width: 100%;
}

#debug-msg-container .debug-msg {
  border-bottom: 1px solid #DDD;
  box-sizing: border-box;
  height: 25px;
  padding-top: 5px;
}
