.md-sidenav-left md-card.active {
  background-color: #DDD;
}

#se-box {

}

#ev-box {

}

#ev-box .soc h3 img {
  height: 20px;
  margin-bottom: -5px;
}

#debug-msg-container {
  height: 150px;
  width: 100%;
}

#debug-msg-container .debug-msg {
  border-bottom: 1px solid #DDD;
  box-sizing: border-box;
  height: 25px;
  padding-top: 5px;
}
